:root {
    --rose-800: #7a284E;
    --rose-50:  #FFF7FB;

    --stone-900: #312E2C;
    --stone-600: #5F564D;
    --stone-150: #E3DDD7;
    --stone-100: #F3E5D7;

    --brown-800: #854632;

    --white: #FFFFFF;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

.top-image {
    width: 37.5rem;
    height: 17.1rem;
    overflow: hidden;
}

.image-omelette {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    height: 100vh;
    padding: 4rem 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

h1 {
    font-size: 3.6rem;
    font-family: "Young Serif", sans-serif;
    font-weight: 400;
    color: var(--stone-900);
    letter-spacing: 0%;
    line-height: 100%;
}

.description {
    font-size: 1.6rem;
    font-family: "Outfit", sans-serif;
    color: var(--stone-600);
    line-height: 150%;
    letter-spacing: 0%;
    font-weight: 400;
}